Source: biomd
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libgbinder-dev,
               libglib2.0-dev,
               libsqlite3-dev,
               dh-python,
               python3,
               libpam0g-dev,
               libwayland-dev,
               libfart-dev,
               libgstreamer1.0-dev,
               libssl-dev,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/biomd
Vcs-Git: https://github.com/furilabs/biomd.git

Package: biomd
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
         python3-dbus,
Description: Biometric service provider
 Biomd provides biometric services such as Fingerprint

Package: biomd-dev
Architecture: any
Depends: ${misc:Depends},
Description: Biometric service provider
 Biomd provides biometric services such as Fingerprint - development package

Package: biomd-fprintd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         fprintd,
Description: Biometric service provider
 Biomd provides biometric services such as Fingerprint - Fprintd provider

Package: libpam-biomd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Biometric service provider
 Biomd provides biometric services such as Fingerprint - PAM module
